<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/landing.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
      rel="stylesheet"
    />
    <title>NIKE</title>
  </head>

  <body>
    <header>
      <img src="/img/logo.png.png" id="logo-img" alt="" />

      <section class="menu">
        <ul class="menu-list">
          <li>New & Featured</li>
          <li>Men</li>
          <li>Women</li>
          <li>Kids</li>
          <li>Sale</li>
          <li>SNKRS</li>
        </ul>

        <button>
          <i class="fas fa-times"></i>
          <i class="fas fa-bars"></i>
        </button>
      </section>
    </header>

    <section class="main">
      <section class="left">
        <div style="display: flex">
          <p class="title">React</p>
          <p class="title-2">Infinity</p>
        </div>
        <p class="price">$3543</p>
        <p class="color">Color</p>
        <div style="display: flex">
          <div class="color-picker">
            <div class="circle red" data-color="#ff0000"></div>
            <div class="circle green" data-color="#00ff00"></div>
            <div class="circle blue" data-color="#0000ff"></div>
          </div>
        </div>
        <p class="size">Size</p>
        <div style="display: flex">
          <div style="display: flex">
            <div class="sizes">7</div>
            <div class="sizes">8</div>
            <div class="sizes">9</div>
          </div>
        </div>
        <button class="cta" > <a id="shop" href="/shop">SHOP NOW</a></button>
      </section>
      <div class="nike-text-container">
        <div class="nike-text">NIKE</div>
      </div>

      <section class="right">
        <div>
          <img
            class="nike-img2"
            src="/img/shoe1.jpeg"
            alt="Langing image"
          />
        </div>
      </section>
      <ul class="thumb">
        <li>
          <img
            src="/img/shoe1.jpeg"
            onclick="imgSlider('/img/shoe1.jpeg')"
            alt=""
          />
        </li>
        <li>
          <img
            src="/img/shoe2.png"
            onclick="imgSlider('/img/shoe2.png')"
            alt=""
          />
        </li>
        <li>
          <img
            src="/img/shoe3.png"
            onclick="imgSlider('/img/shoe3.png')"
            alt=""
          />
        </li>
      </ul>

      <svg
        class="nike-path"
        viewBox="0 0 1160 774"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M1159.5 2.02186e-05L291.499 774.5C214.499 774.5 201.5 774.5 141.499 774C73.7165 773.435 59.4996 774 0.499297 774C0.498937 697 0.499708 701.101 0.499999 529.5C0.499998 444.507 3.24923e-06 249.5 3.05781e-06 167.5C-5.66088 193.405 3.4997 464 98.2659 549.912C121.584 567.041 178.279 572.094 212.408 565.824C239.797 560.793 270.032 548.494 302.171 528.993L1159.5 2.02186e-05Z"
          fill="url(#paint0_linear_22_2)"
        />
        <defs>
          <linearGradient
            id="paint0_linear_22_2"
            x1="1015.5"
            y1="87.0006"
            x2="-46.6311"
            y2="415.569"
            gradientUnits="userSpaceOnUse"
          >
            <stop offset="0.190837" stop-color="#E38A58" stop-opacity="0.99" />
            <stop offset="0.952461" stop-color="#C365E3" />
          </linearGradient>
        </defs>
      </svg>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      var menu = document.querySelector(".menu");
      var menuBtn = document.querySelector(".menu button");
      menuBtn.addEventListener("click", () => {
        menu.classList.toggle("opened");
      });
    </script>
    <script>
      const circles = document.querySelectorAll(".circle");
      const selectedColor = document.getElementById("selected-color");

      circles.forEach((circle) => {
        circle.addEventListener("click", function () {
          const color = this.getAttribute("data-color");
          selectedColor.style.backgroundColor = color;
        });
      });
    </script>
    <script>
      function imgSlider(img) {
        $(".nike-img2")
          .attr("src", img)
          .css("animation", "imageSlide 1s forwards");
      }
    </script>
  </body>
</html>
